.input-success {
    background-color: #198754 !important;
    color: white;
}

.input-danger {
    background-color: red !important;
    color: white;
}

.delete-icon-hover:hover {
    cursor: pointer;
    color: crimson;
}
.edit-icon-hover:hover {
    cursor: pointer;
    color: greenyellow;
}
