.input-success {
    background-color: darkseagreen !important;
}

.input-danger {
    background-color: palevioletred !important;
}

.icon-hover:hover {
    color: darkorange;
    cursor: pointer;
    height: 20px;
}