.input-success {
    background-color: #198754 !important;
    color: white;
}

.input-danger {
    background-color: red !important;
    color: white;
}

.icon-hover:hover {
    color: greenyellow;
    cursor: pointer;
    height: 20px;
}